project nodered flows.json
[{"id":"6fc1485c.56b568","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c5b88706.a3dbc8","type":"http in","z":"6fc1485c.56b568","name":"","url":"/item1","method":"get","upload":false,"swaggerDoc":"","x":60,"y":400,"wires":[["eb19686b.a63208"]]},{"id":"9c28cb30.1bf9e8","type":"http response","z":"6fc1485c.56b568","name":"","statusCode":"","headers":{},"x":590,"y":400,"wires":[]},{"id":"ed8a1368.475d4","type":"debug","z":"6fc1485c.56b568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":60,"wires":[]},{"id":"d80bab53.7a8c48","type":"ibmiot in","z":"6fc1485c.56b568","authentication":"apiKey","apiKey":"1d51fc9f.6063c3","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"060801","applicationId":"","deviceType":"sarahdevice","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":60,"wires":[["78d81c9b.3aa484"]]},{"id":"78d81c9b.3aa484","type":"function","z":"6fc1485c.56b568","name":"avail_fooditems","func":"msg.payload=msg.payload.fooditems\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":60,"wires":[["35ac54f2.439bec","a609be0e.0ea9a","1e61eb82.8b0ea4","dc086fef.af828","a9780ed6.7a5f6","47d52b76.5835b4","dc04a59f.7dae28","c3764274.6ee66","f61506db.9376c8","f7a164b.c7c6598","547d5e42.c58e7","de407624.ba47d8"]]},{"id":"a609be0e.0ea9a","type":"function","z":"6fc1485c.56b568","name":"price1","func":"msg.payload=msg.payload.i1.price\nglobal.set('p1',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":120,"wires":[["ed8a1368.475d4"]]},{"id":"eb19686b.a63208","type":"function","z":"6fc1485c.56b568","name":"webpage1","func":"msg.payload={\"item\":global.get(\"i1\"),\"price\":global.get(\"p1\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":400,"wires":[["9c28cb30.1bf9e8"]]},{"id":"35ac54f2.439bec","type":"function","z":"6fc1485c.56b568","name":"item1","func":"msg.payload=msg.payload.i1.item\nglobal.set('i1',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[["ed8a1368.475d4"]]},{"id":"1e61eb82.8b0ea4","type":"function","z":"6fc1485c.56b568","name":"item2","func":"msg.payload=msg.payload.i2.item\nglobal.set('i2',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":160,"wires":[["ed8a1368.475d4"]]},{"id":"dc086fef.af828","type":"function","z":"6fc1485c.56b568","name":"price2","func":"msg.payload=msg.payload.i2.price\nglobal.set('p2',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":160,"wires":[["ed8a1368.475d4"]]},{"id":"a9780ed6.7a5f6","type":"function","z":"6fc1485c.56b568","name":"item3","func":"msg.payload=msg.payload.i3.item\nglobal.set('i3',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":200,"wires":[["ed8a1368.475d4"]]},{"id":"547d5e42.c58e7","type":"function","z":"6fc1485c.56b568","name":"item6","func":"msg.payload=msg.payload.i6.item\nglobal.set('i6',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":320,"wires":[["ed8a1368.475d4"]]},{"id":"47d52b76.5835b4","type":"function","z":"6fc1485c.56b568","name":"price3","func":"msg.payload=msg.payload.i3.price\nglobal.set('p3',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":200,"wires":[["ed8a1368.475d4"]]},{"id":"dc04a59f.7dae28","type":"function","z":"6fc1485c.56b568","name":"item4","func":"msg.payload=msg.payload.i4.item\nglobal.set('i4',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":240,"wires":[["ed8a1368.475d4"]]},{"id":"f61506db.9376c8","type":"function","z":"6fc1485c.56b568","name":"item5","func":"msg.payload=msg.payload.i5.item\nglobal.set('i5',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":280,"wires":[["ed8a1368.475d4"]]},{"id":"f7a164b.c7c6598","type":"function","z":"6fc1485c.56b568","name":"price5","func":"msg.payload=msg.payload.i5.price\nglobal.set('p5',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":280,"wires":[["ed8a1368.475d4"]]},{"id":"c3764274.6ee66","type":"function","z":"6fc1485c.56b568","name":"price4","func":"msg.payload=msg.payload.i4.price\nglobal.set('p4',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":240,"wires":[["ed8a1368.475d4"]]},{"id":"de407624.ba47d8","type":"function","z":"6fc1485c.56b568","name":"price6","func":"msg.payload=msg.payload.i6.price\nglobal.set('p6',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":320,"wires":[["ed8a1368.475d4"]]},{"id":"bb44214d.28f34","type":"function","z":"6fc1485c.56b568","name":"webpage2","func":"msg.payload={\"item\":global.get(\"i2\"),\"price\":global.get(\"p2\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":460,"wires":[["1eab84d8.5cf55b"]]},{"id":"ce524f56.de02d","type":"http in","z":"6fc1485c.56b568","name":"","url":"/item2","method":"get","upload":false,"swaggerDoc":"","x":60,"y":460,"wires":[["bb44214d.28f34"]]},{"id":"1eab84d8.5cf55b","type":"http response","z":"6fc1485c.56b568","name":"","statusCode":"","headers":{},"x":590,"y":460,"wires":[]},{"id":"469a572d.814f48","type":"http in","z":"6fc1485c.56b568","name":"","url":"/item3","method":"get","upload":false,"swaggerDoc":"","x":60,"y":520,"wires":[["c343959d.943578"]]},{"id":"ded8ad0d.f3cd4","type":"http response","z":"6fc1485c.56b568","name":"","statusCode":"","headers":{},"x":590,"y":520,"wires":[]},{"id":"b8c24841.493a98","type":"http in","z":"6fc1485c.56b568","name":"","url":"/item4","method":"get","upload":false,"swaggerDoc":"","x":60,"y":560,"wires":[["4d5eabb6.27b714"]]},{"id":"6036280c.f9c698","type":"http response","z":"6fc1485c.56b568","name":"","statusCode":"","headers":{},"x":590,"y":560,"wires":[]},{"id":"af7f82ef.679e","type":"http in","z":"6fc1485c.56b568","name":"","url":"/item5","method":"get","upload":false,"swaggerDoc":"","x":60,"y":600,"wires":[["234e175b.838eb8"]]},{"id":"88bf5690.647868","type":"http response","z":"6fc1485c.56b568","name":"","statusCode":"","headers":{},"x":590,"y":600,"wires":[]},{"id":"594fd0fd.c4dee","type":"http in","z":"6fc1485c.56b568","name":"","url":"/item6","method":"get","upload":false,"swaggerDoc":"","x":60,"y":640,"wires":[["433e965b.18fcc8"]]},{"id":"54a7ff0b.597b2","type":"http response","z":"6fc1485c.56b568","name":"","statusCode":"","headers":{},"x":610,"y":640,"wires":[]},{"id":"c343959d.943578","type":"function","z":"6fc1485c.56b568","name":"webpage3","func":"msg.payload={\"item\":global.get(\"i3\"),\"price\":global.get(\"p3\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":520,"wires":[["ded8ad0d.f3cd4"]]},{"id":"4d5eabb6.27b714","type":"function","z":"6fc1485c.56b568","name":"webpage4","func":"msg.payload={\"item\":global.get(\"i4\"),\"price\":global.get(\"p4\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":560,"wires":[["6036280c.f9c698"]]},{"id":"234e175b.838eb8","type":"function","z":"6fc1485c.56b568","name":"webpage5","func":"msg.payload={\"item\":global.get(\"i5\"),\"price\":global.get(\"p5\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":600,"wires":[["88bf5690.647868"]]},{"id":"433e965b.18fcc8","type":"function","z":"6fc1485c.56b568","name":"webpage6","func":"msg.payload={\"item\":global.get(\"i6\"),\"price\":global.get(\"p6\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":640,"wires":[["54a7ff0b.597b2"]]},{"id":"71625a22.b473b4","type":"http in","z":"6fc1485c.56b568","name":"","url":"/order","method":"get","upload":false,"swaggerDoc":"","x":100,"y":860,"wires":[["23887a24.85d656","6249a768.0687d8","94e56f59.5221a","f275dd41.4d329"]]},{"id":"23887a24.85d656","type":"http response","z":"6fc1485c.56b568","name":"","statusCode":"","headers":{},"x":680,"y":860,"wires":[]},{"id":"f275dd41.4d329","type":"debug","z":"6fc1485c.56b568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":900,"wires":[]},{"id":"6249a768.0687d8","type":"ibmiot out","z":"6fc1485c.56b568","authentication":"apiKey","apiKey":"6192a7fc.a9d5d8","outputType":"cmd","deviceId":"kris123","deviceType":"firstdevice","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":800,"wires":[]},{"id":"90cc3202.4f341","type":"cloudant out","z":"6fc1485c.56b568","name":"food_order","cloudant":"","database":"foodorder","service":"node-red-kmfqi-2021--cloudant-1625752175701-97991","payonly":true,"operation":"insert","x":720,"y":960,"wires":[]},{"id":"a85ac2b6.1602a","type":"ui_text","z":"6fc1485c.56b568","group":"a8fc1da9.946cf","order":1,"width":"6","height":"4","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":710,"y":1000,"wires":[]},{"id":"94e56f59.5221a","type":"function","z":"6fc1485c.56b568","name":"order_ui","func":"msg.payload=msg.payload.order_qty\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":940,"wires":[["a85ac2b6.1602a","3bc5558e.86608a"]]},{"id":"69c156ab.940918","type":"ui_audio","z":"6fc1485c.56b568","name":"","group":"a8fc1da9.946cf","voice":"Google US English","always":false,"x":780,"y":1060,"wires":[]},{"id":"3bc5558e.86608a","type":"watson-text-to-speech","z":"6fc1485c.56b568","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelV2Voice","voicehidden":"en-US_MichaelV2Voice","format":"audio/mp3","password":"","apikey":"PjC0bvAGJ1nFseEZGlUNUfZjO9ntqUkrYdFwS065OWVa","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/761a99f7-59be-443f-9106-ddce29442f5f","x":500,"y":1040,"wires":[["69c156ab.940918"]]},{"id":"8127bda6.c6075","type":"http request","z":"6fc1485c.56b568","name":"fast2sms","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=mahHEK0Zo69JNI14SestX2p3AYRxuzMjlrqcvi7yPFk8nWbL5VSsTq1LhvbwlCMdO7I9fYXWRxeU06yr&route=q&message=Over%20the%20moon%0A%0AThree's%20the%20number!!!%0A%0AAs%20a%20Over%20The%20Moon's%20card%20holder,%20you're%20about%20to%20get%20a%20whole%20%20heap%20of%20envious%20stares......Flash%20your%20card%20in%20our%20restaurant%20between%20%20today%20and%20get%20ready%20to%20try%20our%20SPECIAL%20DUM%20BIRIYANI%20before%20anyone%20else.%0A%20%0A&language=english&flash=0&numbers=9526453875","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":1200,"wires":[["320d1912.ad4bb6"]]},{"id":"320d1912.ad4bb6","type":"debug","z":"6fc1485c.56b568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":1200,"wires":[]},{"id":"1d51fc9f.6063c3","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"6192a7fc.a9d5d8","type":"ibmiot","name":"APIIOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a8fc1da9.946cf","type":"ui_group","name":"order","tab":"f3c9ab9f.70ab98","order":2,"disp":true,"width":"6","collapse":false},{"id":"f3c9ab9f.70ab98","type":"ui_tab","name":"restbeacon","icon":"dashboard","disabled":false,"hidden":false}]